/* ====================================== */
/* this is the header style for every page except for the homepage */
/* ====================================== */

body {
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.header-wrapper {
	width: 100vw;
	position: relative;
}

/* ============================== LOGO wrapper  ========================== */

.site-branding {
	position:absolute;
	top:45%;
	left: 0;
}


.site-branding img {
	margin: 3.5vw 0 3.5vw 6vw;
}

.site-branding img:hover {
	cursor: pointer;
	opacity: 0.5;
}

/* =========================== horizontal nav bar ========================= */

.horizontal-nav-bar-wrapper {
	position: absolute;
	top: 50%;
	right:0;
}

.horizontal-nav-bar{
	float: right;
	list-style-type: none;
	margin: 4vw 5vw 4vw 0;

}

.horizontal-nav-bar-item {
	float: left;
}

.horizontal-nav-bar-item span {
	font-size: 1.6vw; 
	font-family: 'Cormorant Garamond', serif;
	color: #666;
}

.horizontal-nav-bar-item a{
	display: block;
	text-align: center;	
	padding-right: 1.6vw;
}

.horizontal-nav-bar-item a:hover{
	cursor: pointer;
}

/* ======================== horizontal nav bar underline animation effect ========================= */

.slide-in-slide-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.slide-in-slide-out:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.slide-in-slide-out:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #666;
    transition: width .5s ease;
}
.slide-in-slide-out:hover:before {
    width: 100%;
    background: #666;
    transition: width .5s ease;
}
.slide-in-slide-out:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}